#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: -15px;

  i {
    color: rgba(0, 0, 0, 0.3);
    margin-right: 7px;
  }

  span {
    margin-right: 7px;
  }
}

.friends-screen {
  padding: 0px $horizontal-space;

  &__channel {
    margin-top: 25px;
    border-top: $main-border;
    padding-top: 15px;

    &--header {
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
      color: rgba(0, 0, 0, 0.5);
    }
  }
}
