.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $horizontal-space;
  padding-top: 40px;
  margin-bottom: 15px;

  &__title {
    font-size: 32px;
    font-weight: 600;
  }

  &__icons {
    position: relative;
    span {
      margin-left: 25px;
    }
    &--new {
      right: -5px;
      top: -10px;
    }
  }
}
