extends layout

block title
    title Chats | KokoaTalk
block content
    header.screen-header
        h1.screen-header__title Chats
        .screen-header__icons
            span
                i.fas.fa-search.fa-lg
            span
                i.far.fa-comment-dots.fa-lg
            span
                i.fas.fa-music.fa-lg
            span
                i.fas.fa-cog.fa-lg
    
    main.main-screen
        a(href="chat.html")
            .user-component
                .user-component__column
                    img.user-component__avatar(src="https://pbs.twimg.com/profile_images/814468511825154048/fwb0OjaC_400x400.jpg")
                    .user-component__text
                        h4.user-component__title Pikachu
                        h6.user-component__subtitle Did you eat lunch?
                .user-component__column
                    span.user-component__time 12:06
                    .badge 1

block nav-friends
    i.far.fa-user.fa-2x
block nav-chats
    i.fas.fa-comment.fa-2x
