extends layout
block title
    title Find | KokoaTalk

block content
    header.screen-header
        h1.screen-header__title Find
        .screen-header__icons
            span
                i.fas.fa-search.fa-lg
            span
                i.fas.fa-cog.fa-lg
                span.screen-header__icons--new.badge--new
    
    main.main-screen
        .icon-row
            .icon-row__icon
                i.fas.fa-qrcode
                span QR Code
            .icon-row__icon
                i.far.fa-address-book
                span Add bt Contacts
            .icon-row__icon
                i.fas.fa-fingerprint
                span Add by ID
            .icon-row__icon
                i.far.fa-envelope
                span Invite
        .recommended-friends
            h6.recommended-friends__title recommended Friends
            span You have no recommended friends.
        .open-chat
            .open-chat__header
                h4.open-chat__title Open Chat
                div
                    span Go to Openchat Home
                    i.fas.fa-chevron-right.fa-xs
            .open-post
                .open-post__column
                    h5.open-post__title #Sun & Moon
                    h6.open-post__hashtags #sun #moon #Poketmon
                    .open-post__members
                        img(src="https://vignette.wikia.nocookie.net/pokemon/images/9/92/%ED%8F%AC%EC%BC%93%EB%AA%AC%EC%8A%A4%ED%84%B0_%EC%8D%AC%EB%AC%B8_%EC%95%A0%EB%8B%88%EB%A9%94%EC%9D%B4%EC%85%98_%ED%95%9C%EA%B5%AD_%ED%8F%AC%EC%8A%A4%ED%84%B0_2.jpg/revision/latest?cb=20180919180343&path-prefix=ko")
                        span.open-post__member-count 802 members
                        .divider
                        span.open-post__member-status Active
                .open-post__column
                    .open-post__photo
                        img(src="https://vignette.wikia.nocookie.net/pokemon/images/9/92/%ED%8F%AC%EC%BC%93%EB%AA%AC%EC%8A%A4%ED%84%B0_%EC%8D%AC%EB%AC%B8_%EC%95%A0%EB%8B%88%EB%A9%94%EC%9D%B4%EC%85%98_%ED%95%9C%EA%B5%AD_%ED%8F%AC%EC%8A%A4%ED%84%B0_2.jpg/revision/latest?cb=20180919180343&path-prefix=ko")
                        .open-post__heart-count
                            i.fas.fa-heart.fa-xs
                            span 326

                    
block nav-friends
    i.far.fa-user.fa-2x
block nav-chats
    i.far.fa-comment.fa-2x