extends layout
block title
    title Friends | KokoaTalk
    
block content
    header.screen-header
        h1.screen-header__title Friends
        .screen-header__icons
            span
                i.fas.fa-search.fa-lg
            span
                i.fas.fa-music.fa-lg
            span
                i.fas.fa-cog.fa-lg
    
    a#friends-display-link(href="") 
        i.fas.fa-info-circle
        span Friend's Name Display
        i.fas.fa-chevron-right.fa-xs
    main.friends-screen
        .user-component
            .user-component__column
                img.user-component__avatar.user-component__avatar--xl(src="https://pbs.twimg.com/profile_images/983730179359981568/09_V2ORe_400x400.jpg")
                .user-component__text
                    h4.user-component__title Rowlet
                    
            .user-component__column

        .friends-screen__channel
            .friends-screen__channel--header
                span Channel
                i.fas.fa-chevron-up.fa-xs
        .user-component
            .user-component__column
                img.user-component__avatar.user-component__avatar--sm(src="https://vignette.wikia.nocookie.net/pokemon/images/9/9e/%ED%8F%AC%EC%BC%93%EB%AA%AC%EC%8A%A4%ED%84%B0_XY_%EC%95%A0%EB%8B%88_%ED%8F%AC%EC%8A%A4%ED%84%B0.png/revision/latest?cb=20130927081258&path-prefix=ko")
                .user-component__text
                    h4.user-component__title.user-component__title--not-bold Channel
                   
            .user-component__column
                div
                    span 2
                    i.fas.fa-chevron-right.fa-xs
block nav-friends
    i.fas.fa-user.fa-2x
block nav-chats
    i.far.fa-comment.fa-2x

block splash
    #splash-screen
        i.fas.fa-comment
    