extends layout

block title
    title Settings | KokoaTalk

block content
    header.alt-header
        .alt-header__column
            a(href="more.html")
                i.fas.fa-angle-left.fa-3x
        .alt-header__column
            h1.alt-header__title Settings
        .alt-header__column
            i.fas.fa-search.fa-2x
    main.main-screen
        ul.settings-list
            li.settings__setting
                .settings__setting-column
                    i.fas.fa-bullhorn
                    span Notice
                .settings__setting-column
            li.settings__setting
                .settings__setting-column
                    i.fas.fa-flask
                    span Kokoa Lab
                .settings__setting-column
            li.settings__setting
                .settings__setting-column
                    i.fas.fa-info-circle
                    span Version
                .settings__setting-column Latest Version

block nav-friends
    i.far.fa-user.fa-2x
block nav-chats
    i.far.fa-comment.fa-2x