@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}

.recommended-friends {
  margin: 25px 0px;
  padding: 25px 0px;
  border-top: $main-border;
  border-bottom: $main-border;

  &__title {
    font-size: 14px;
    color: $grey;
  }

  span {
    margin: 100px 0px;
    display: block;
    text-align: center;
    color: $grey;
    font-size: 18px;
  }
}

.open-chat {
  &__header {
    display: flex;
    justify-content: space-between;
    color: $grey;
    margin-bottom: 25px;
  }
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-weight: 600;
    margin-bottom: 7px;
  }

  &__hashtags {
    text-transform: uppercase;
    opacity: 0.6;
  }

  &__members {
    margin-top: 7px;
    display: flex;
    align-items: center;

    img {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      margin-right: 5px;
    }

    .divider {
      width: 2px;
      height: 15px;
      margin: 0 5px;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  &__member {
    &-count {
      opacity: 0.5;
      font-size: 14px;
    }
    &-status {
      color: #ffb0e0;
    }
  }
  &__photo {
    position: relative;
    img {
      width: 120px;
      height: 120px;
      border-radius: 10px;
    }
  }
  &__heart-count {
    background-color: $grey;
    color: white;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    span {
      margin-left: 3px;
    }
    &:hover i {
      will-change: transform;
      animation: heartBeat 1s linear infinite;
    }
  }
}
