.more-screen {
  .icon-row {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    row-gap: 40px;
  }
  .user-component__column:last-child {
    color: #2e373d;
  }
}

.more-suggestions {
  margin-top: 50px;
  border-top: $main-border;
  padding-top: 30px;
  &__title {
    margin-bottom: 30px;
    font-weight: 600;
  }
  &__icons {
    display: flex;
  }
  &__icon {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-image {
      width: 60px;
      height: 60px;
      background-color: $yellow;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      i {
        font-size: 32px;
        color: white;
      }
    }
  }
}
