nav.nav
    ul.nav__list
        li.nav__btn
            a.nav__link(href="friends.html")
                i.fas.fa-user.fa-2x
        li.nav__btn
            a.nav__link(href="chats.html")
                span.nav__notification.badge 1
                i.far.fa-comment.fa-2x
        li.nav__btn
            a.nav__link(href="find.html")
                i.fas.fa-search.fa-2x
        li.nav__btn
            a.nav__link(href="more.html")
                span.nav--new.badge--new  
                i.fas.fa-ellipsis-h.fa-2x