.status-bar
    .status-bar__column
        span No Service
        i.fas.fa-wifi
    .status-bar__column
        span 12:14
    .status-bar__column
        span 83%
        i.fas.fa-battery-full.fa-lg
        i.fas.fa-bolt