@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "_reset";
@import "_variables";

/* Components */
@import "components/statusBar.scss";
@import "components/login.scss";
@import "components/nav-bar.scss";
@import "components/screen-header.scss";
@import "components/user-component.scss";
@import "components/badge.scss";
@import "components/icon-row.scss";
@import "components/alt-screen-header.scss";

/* Screens */
@import "screens/friends.scss";
@import "screens/find.scss";
@import "screens/more.scss";
@import "screens/settings.scss";

body {
  color: #2e363e;
  font-family: "Open Sans", sans-serif;
}

.main-screen {
  padding: 0px $horizontal-space;
}
